In [1]:
import pandas as pd
import numpy as np
import os

Question 3: import the orders_products_combined dataframe from the pickle file

In [2]:
my_path = r'C:\Users\nkasb\Documents\Instacart Basket Analysis'

In [3]:
df_prods = pd.read_csv(os.path.join(my_path, '2. Data', 'Prepared Data', 'products_clean_final.csv'), index_col = False)

In [4]:
df_prods.describe()

       Unnamed: 0    product_id      aisle_id  department_id        prices
count  49693.0000  49693.000000  49693.000000   49693.000000  49693.000000
mean   24846.0000  24844.345139     67.770249      11.728433      9.994136
std    14345.2778  14343.717401     38.316774       5.850282    453.519686
min        0.0000      1.000000      1.000000       1.000000      1.000000
25%    12423.0000  12423.000000     35.000000       7.000000      4.100000
50%    24846.0000  24845.000000     69.000000      13.000000      7.100000
75%    37269.0000  37265.000000    100.000000      17.000000     11.200000
max    49692.0000  49688.000000    134.000000      21.000000  99999.000000

In [7]:
df_orders_products_combined = pd.read_pickle(os.path.join(my_path, '2. Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [8]:
df_orders_products_combined.describe()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
count,3.264070e+07,3.264070e+07,3.264070e+07,3.264070e+07,3.264070e+07,3.264070e+07,3.264070e+07,3.264070e+07,3.243449e+07,3.243449e+07,3.243449e+07
mean,1.709876e+06,1.709876e+06,1.710719e+06,1.029383e+05,1.713856e+01,2.739040e+00,1.342599e+01,1.043477e+01,2.557634e+04,8.351076e+00,5.896975e-01
std,9.864701e+05,9.864701e+05,9.873085e+05,5.946686e+04,1.752967e+01,2.090265e+00,4.246227e+00,8.945477e+00,1.409669e+04,7.126671e+00,4.918886e-01
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,8.556322e+05,8.556322e+05,8.558860e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00,1.353000e+04,3.000000e+00,0.000000e+00
50%,1.709181e+06,1.709181e+06,1.710984e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00,2.525600e+04,6.000000e+00,1.000000e+00
75%,2.565971e+06,2.565971e+06,2.565490e+06,1.543940e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.400000e+01,3.793500e+04,1.100000e+01,1.000000e+00
max,3.421082e+06,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00

Question 4: Check the shape of the imported dataframe

In [9]:
df_orders_products_combined.shape

(32640698, 13)

Question 5: combine the orders_products_combined dataframe with your products data set

In [10]:
df_orders_products_merged = df_prods.merge(df_orders_products_combined, on = 'product_id', how= 'outer')

Question 6: Confirm the results of the merge using the merge flag

In [11]:
df_orders_products_merged.shape

(32642461, 18)

In [12]:
df_orders_products_merged['_merge'].value_counts()

both          32436241
left_only       206209
right_only           0
Name: _merge, dtype: int64

Question 7: Export the newly created dataframe as orders_products_merged in a suitable format

In [13]:
df_orders_products_merged.to_pickle(os.path.join(my_path, '2. Data','Prepared Data', 'orders_products_merged.pkl'))